name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Run tests with coverage
        run: cargo install cargo-tarpaulin
          
          
      - name: Check test coverage
        run: cargo tarpaulin --manifest-path backend/Cargo.toml --fail-under 0

      - name: Prepare sqlx
        run: cargo install sqlx-cli && cargo sqlx prepare --check

      - name: Build release
        run: cargo build --release
