name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Setup SQLite
        uses: ryohidaka/action-setup-sqlite@v1.2.0
      - name: Initialize Database
        run: |
          touch database.db
          sqlite3 database.db ".read res/init.sql"
      - name: Caching
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - run: cargo install cargo-tarpaulin
          
          
      - name: Check test coverage
        run: cargo tarpaulin --manifest-path Cargo.toml --fail-under 0


      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
