name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Run tests with coverage
        run: cargo install cargo-tarpaulin
          
          
      - name: Check test coverage
        run: cargo tarpaulin --manifest-path backend/Cargo.toml --fail-under 80

      - name: Build release
        run: cargo build --release

      - name: Deploy via SSH
        env:
          PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          JUMP_HOST: ${{ secrets.JUMP_HOST }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          scp -o ProxyJump=$SERVER_USER@$JUMP_HOST target/release/tuo_backend $SERVER_USER@$SERVER_HOST:/home/$SERVER_USER/tuo_backend
          ssh -o ProxyJump=$SERVER_USER@$JUMP_HOST $SERVER_USER@$SERVER_HOST "sudo systemctl restart tuo_backend"

